/*Body*/
body{
    overflow: hidden;
    background-color: rgb(243, 231, 172);
}

/*Header*/
header{
    background-color:rgba(240, 147, 43,1.0);
    padding: 8px;
}

/*Container*/
.container{
    margin: 20px;
}

/*Context*/
.context{
}

#myCanvas{
    border: solid rgb(105, 102, 102) 1px;
    background: white;
}

/*Settings*/
.settings{
}

/*Footer*/
footer{
    background-color: rgba(255, 190, 118,1.0);
    padding: 0.5px;
}