/* GENERAL */

body{
    font-family: 'Roboto', sans-serif;
    background: #FAF7F7;
}

h6, h3{
    font-weight: 400;
}

/* FORMS */

.formHelp{
    display: flex;
    justify-content: space-between;
}

.formHelp small{
    color: white !important;
    text-decoration: underline;
}

/* BUTTONS*/

.dark-button{
    background-color: #3F3941 !important;
    border-color: #3F3941 !important;
    width: 100%;
    margin-top: 5%;
}

.dark-button:hover{
    background-color:black !important;
    border-color: black !important;
}

.violet-button{
    background-color: #8E44AD !important;
    border-color: #8E44AD !important;
    width: 100%;
}

.violet-button:hover{
    background-color:black !important;
    border-color: black !important;
}

.send-button{
    background-color: #8E44AD;
    color: white;
    margin: 5px;
    padding: 1px;
    border-radius: .25em;
}

.fb-btn{
    width: 100%;
}

/* HEADER */
header{
    display: flex;
    background-color: #8E44AD;
    color: white;
    height: 60px;
    align-items: center;
}

.logo{
    margin-left: 52px;
}

.logo img{
    width: 140px;
    height: auto;
}

.search-bar{
    margin-left: 20px;
    margin-right: 240px;
}

.vl {
    border-left: 1px solid white;
    height: 45px;
}

.text-header{
    font-size: 12px;
}

.home, .mensajes, .notificaciones{
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.profile img{
    width: 45px;
    height: 45px;
}

/* LOGIN Y REGISTER */
.sesion{
    background-color: #8E44AD;
    color: white;
}

.login-logo{
    text-align: center;
}

.login-logo img{
    width: 25vw;
    height: auto;
    margin-top: 5vh;
}

.description-login{
    font-size: 25px;
    margin-top: 10px;
}

.login{
    display: flex;
}

.form-login{
    width: 50%;
    margin: 10vh;
}

.fb-sesion{
    width: 50%;
    margin: 10vh;
    margin-top: auto;
    margin-bottom: auto;
}

.goRegister{
    text-align: center;
}

.goRegister p a{
    color: white;
    text-decoration: underline;
}

.register-form-left, .register-form-rigth{
    margin-bottom: 0vh !important;
    margin-top: 8vh !important;
}

/*HOME*/

.home-container{
    display: flex;
}

.body-home{
    background-color: #FAF7F7;
}

.card-profile{
    width: 290px;
    margin-top: 35px;
    margin-left: 45px;
}

.card-profile img{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-profile-body{
    background-color: white;
    text-align: center;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.card-profile-body img{
    margin-top: -50px;
}

.card-profile-info{
    padding: 15px;
}

/*FILTROS*/
.busqueda{
    width: 70%;
    height: 100%;
}

.especialidad {
    position: absolute;
    width: 280px;
    height: 45px;
    left: 55px;
    top: 82px;
    text-align: center;
}

#location{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 380px;
    top: 90px;

    color: #8E44AD;
}

#especiality {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 75px;
    top: 92px;

    color: #8E44AD;
}

.localidad {
    position: absolute;
    width: 280px;
    height: 45px;
    left: 364px;
    top: 82px;
    text-align: center;
}

.universidad {
    position: absolute;
    width: 280px;
    height: 45px;
    left: 664px;
    top: 82px;
    text-align: center;
}

#university{
    position: absolute;
    width: 20px;
    height:20px;
    left: 50%;
    top: 14%;

    color: #8E44AD;
}

/*BUSQUEDA*/
.resultado{
    position: absolute;
    width: 893px;
    height: 503px;
    left: 55px;
    top: 147px;
    overflow-y: scroll;
}

.busquedaGeneral{
    position: absolute;
    width: 876px;
    height: 1536px;
    left: 0px;
    top: 0px;
}

.rectangulo {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 1.17%;
    height: 1536px;

    background: rgba(142, 68, 173, 0.1);
    border-radius: 16px;
}

.texto-busqueda {
    position: absolute;
    left: 10.64%;
    right: 44.34%;
    top: 0.4%;
    bottom: 94.69%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    /* or 67% */

    display: flex;
    align-items: center;

    color: #000000;
}

.shape {
    position: absolute;
    left: 6.05%;
    right: 91.71%;
    top: 1.6%;
    bottom: 95.59%;
    width: 20px;
    height: 20px;

    color: rgba(96, 100, 112, 0.79);
}

.publicar, .publicacion{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: .25em;
}

.result{
    position: absolute;
    left: 4.37%;
    right: 4.37%;
    top: 5.44%;
    bottom: 83.79%;
}

.result2{
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 17.78%;
    bottom: 69.38%;
}

.result3{
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 32.18%;
    bottom: 55.98%;
}

.result4{
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 45.3%;
    bottom: 43.1%;   
}

.result5{
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 58.34%;
    bottom: 30.22%;   
}

.result6{
    position: absolute;
    left: 4.37%;
    right: 4.48%;
    top: 71.34%;
    bottom: 16.82%;  
}

.result7{
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 84.90%;
    bottom: 3.94%;
}
.result-rectangulo{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: white;
    border-radius: 4px;
}

.perfil-busqueda img{
    border-radius: 100px;
    width: 141px;
    height: 141px;
}

.perfil-busqueda{
    position: absolute;
    left: 5.8%;
    right: 76.8%;
    top: 10.3%;
    bottom: 13.94%;
}

.nombre-busqueda{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    
    color: #000000;
}

.datos-busqueda{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    
    color: #353333;
}

.datos-busqueda svg{
    width: 18px;
    height: 18px;
}

.info-busqueda{
    position: absolute;
    width: 257px;
    height: 131.87px;
    left: 233px;
    top: 17px;
}

.info-busqueda2{
    position: absolute;
    width: 257px;
    height: 131.87px;
    left: 233px;
    top: 30px;
}

.second-Small {
    position: absolute;
    left: 77.45%;
    right: 11.98%;
    bottom: 68.48%;
}

.rectangulo-Small{
    top: 10.18%;
}

button{
    background: #8E44AD;
    border-color: #8E44AD;
    padding: 4px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    color: white;
    border-radius: 10px;
}

.infoExtra .infoExtra {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;

    position: absolute;
    left: 93.63%;
    right: 3.42%;
    top: 12%;
    bottom: 72.14%;
}

.post-icons{
    display: flex;
    justify-content: space-between;
    color: #8E44AD;
}

.posts{
    height: 85vh;
    overflow-y: scroll;
}

/*OVERFLOW*/
.posts::-webkit-scrollbar {
    width: 12px;               
  }
  
.posts::-webkit-scrollbar-track {
    background: #EADEDE;        
}
  
.posts::-webkit-scrollbar-thumb {
    background-color: #8E44AD;   
    border-radius: 20px;    
    border: 3px solid #EADEDE;  
}

/*PUBLICIDADES*/
.publicidades{
    width: 30%;
    height: 100%;
}

.propaganda1 {
    position: absolute;
    width: 262px;
    height: 283px;
    left: 1016px;
    top: 82px;

    background-image: url(../images/propaganda1.png);
    background-size: contain;
    background-repeat:no-repeat;
    justify-content: center;
}

.propaganda2 {
        position: absolute;
        width: 258px;
        height: 286px;
        left: 1019px;
        top: 356px;
        background-image: url("../images/propaganda2.png");
        background-size: contain;
        background-repeat: no-repeat;
        justify-content: center;    
}

