/* GENERAL */

body{
    font-family: 'Roboto', sans-serif;
}

h6, h3{
    font-weight: 400;
}

/*ANIMATION LOGIN Y REGISTRO*/
.sesion {
	background: linear-gradient(-45deg, #8E44AD, #400479, #f135c2, #25d7e4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* FORMS */

.formHelp{
    display: flex;
    justify-content: space-between;
}

.formHelp small{
    color: white !important;
    text-decoration: underline;
}

#inputpublicar:focus-visible{
    outline: 0 !important;
}

/* BUTTONS*/

.dark-button{
    background-color: #3F3941 !important;
    border-color: #3F3941 !important;
    width: 100%;
    margin-top: 5%;
}

.dark-button:hover{
    background-color:black !important;
    border-color: black !important;
}

.violet-button{
    background-color: #8E44AD !important;
    border-color: #8E44AD !important;
    width: 100%;
}

.violet-button:hover{
    background-color:black !important;
    border-color: black !important;
}

.send-button{
    background-color: #8E44AD;
    color: white;
    margin: 5px;
    padding: 1px;
    border-radius: .25em;
}

.fb-btn{
    width: 100%;
}

/* HEADER */
header{
    display: flex;
    background-color: #8E44AD;
    color: white;
    height: 60px;
    align-items: center;
}

.logo{
    margin-left: 52px;
}

.logo img{
    width: 140px;
    height: auto;
}

.search-bar{
    margin-left: 20px;
    margin-right: 240px;
}

.vl {
    border-left: 1px solid white;
    height: 45px;
}

.text-header{
    font-size: 12px;
}

.home, .mensajes, .notificaciones{
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.profile img{
    width: 45px;
    height: 45px;
}

/* LOGIN Y REGISTER */
.sesion{
    background-color: #8E44AD;
    color: white;
}

.login-logo{
    text-align: center;
}

.login-logo img{
    width: 25vw;
    height: auto;
    margin-top: 5vh;
}

.description-login{
    font-size: 25px;
    margin-top: 10px;
}

.login{
    display: flex;
}

.form-login{
    width: 50%;
    margin: 10vh;
}

.fb-sesion{
    width: 50%;
    margin: 10vh;
    margin-top: auto;
    margin-bottom: auto;
}

.goRegister{
    text-align: center;
}

.goRegister p a{
    color: white;
    text-decoration: underline;
}

.register-form-left, .register-form-rigth{
    margin-bottom: 0vh !important;
    margin-top: 8vh !important;
}

/*HOME*/

#background{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background image{
    height: 150px;
}

#spinner{
    height: 50px;
    width: 50px;

    margin-top:20px;
    border: solid 6px white;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;

    animation: spin 1s infinite;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg) scale(1.2);}
    100% {transform: rotate(360deg);}
}

.home-container{
    display: flex;
}

.body-home{
    background-color: #FAF7F7;
}

.card-profile{
    width: 290px;
    margin-top: 35px;
    margin-left: 45px;
}

.card-profile img{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-profile-body{
    background-color: white;
    text-align: center;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.card-profile-body img{
    margin-top: -50px;
}

.card-profile-info{
    padding: 15px;
}

.card-follow{
    background-color: white;
    padding: 5%;
    border-radius: .25rem;
    margin-top: 35px;
    margin-left: auto;
    margin-right: 25px;
    width: 270px;
}

.person-follow{
    display: flex;
    line-height: .5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.posts{
    background-color: #EADEDE;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

.publicar, .publicacion{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: .25em;
}

.new-post-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-icons{
    display: flex;
    justify-content: space-between;
    color: #8E44AD;
}

.posts{
    height: 85vh;
    overflow-y: scroll;
}

/*OVERFLOW*/
.posts::-webkit-scrollbar {
    width: 12px;               
  }
  
.posts::-webkit-scrollbar-track {
    background: #EADEDE;        
}
  
.posts::-webkit-scrollbar-thumb {
    background-color: #8E44AD;   
    border-radius: 20px;    
    border: 3px solid #EADEDE;  
}

/*FILTROS*/
.busqueda{
    width: 70%;
    height: 100%;
}

.especialidad {
    position: absolute;
    width: 260px;
    height: 45px;
    left: 55px;
    top: 82px;
    text-align: center;
}

#location{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 360px;
    top: 90px;

    color: #8E44AD;
}

#especiality {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 75px;
    top: 92px;

    color: #8E44AD;
}

.localidad {
    position: absolute;
    width: 260px;
    height: 45px;
    left: 340px;
    top: 82px;
    text-align: center;
}

.universidad {
    position: absolute;
    width: 260px;
    height: 45px;
    left: 624px;
    top: 82px;
    text-align: center;
}

#university{
    position: absolute;
    width: 20px;
    height:20px;
    left: 650px;
    top: 14%;

    color: #8E44AD;
}

#search {
    position: absolute;
    width: 52px;
    height: 43px;
    left: 895px;
    top: 83px;
    background: #8E44AD;
    border-radius: 8px;
}

#shape{
    position: absolute;
    left: 30.62%;
    right: 37.99%;
    top: 25.38%;
    bottom: 84.67%;
}

/*BUSQUEDA*/
.resultado{
    position: absolute;
    width: 893px;
    height: 503px;
    left: 55px;
    top: 147px;
    overflow-y: scroll;
}

.busquedaGeneral{
    position: absolute;
    width: 876px;
    height: 1536px;
    left: 0px;
    top: 0px;
}

.busquedaGeneral-b {
    position: absolute;
    width: 876px;
    height: 520px;
    left: 0px;
    top: 0px;
}

.rectangulo {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 1.17%;
    height: 1536px;

    background: rgba(142, 68, 173, 0.1);
    border-radius: 16px;
}

.rectangulo-b {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 1.17%;
    height: 900px;
    background: rgba(142, 68, 173, 0.1);
    border-radius: 16px;
}


.texto-busqueda {
    position: absolute;
    left: 10.64%;
    right: 44.34%;
    top: 0.4%;
    bottom: 94.69%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    /* or 67% */

    display: flex;
    align-items: center;

    color: #000000;
}

.texto-busqueda-b {
    position: absolute;
    left: 10.64%;
    right: 44.34%;
    top: 2.7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}

.shape {
    position: absolute;
    left: 6.05%;
    right: 91.71%;
    top: 1.6%;
    bottom: 95.59%;
    width: 20px;
    height: 20px;

    color: rgba(96, 100, 112, 0.79);
}

.shape-b {
    position: absolute;
    left: 6.05%;
    right: 91.71%;
    top: 2.6%;
    bottom: 95.59%;
    width: 20px;
    height: 20px;
    color: rgba(96, 100, 112, 0.79);
}

.result{
    position: absolute;
    left: 4.37%;
    right: 4.37%;
    top: 5.44%;
    bottom: 83.79%;
}

.result-b {
    position: absolute;
    left: 4.37%;
    right: 4.37%;
    top: 7.44%;
    bottom: 73.79%;
}

.result2{
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 17.78%;
    bottom: 69.38%;
}

.result2-b {
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 29.78%;
    bottom: 49.38%;
}

.result3{
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 32.18%;
    bottom: 55.98%;
}

.result3-b {
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 54.18%;
    bottom: 24.98%;
}

.result4{
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 45.3%;
    bottom: 43.1%;   
}

.result4-b {
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 78.3%;
    bottom: 2.1%;
}

.result5{
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 58.34%;
    bottom: 30.22%;   
}

.result6{
    position: absolute;
    left: 4.37%;
    right: 4.48%;
    top: 71.34%;
    bottom: 16.82%;  
}

.result7{
    position: absolute;
    left: 4.48%;
    right: 4.37%;
    top: 84.90%;
    bottom: 3.94%;
}
.result-rectangulo{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: white;
    border-radius: 4px;
}

.perfil-busqueda img{
    border-radius: 100px;
    width: 141px;
    height: 141px;
}

.perfil-busqueda{
    position: absolute;
    left: 5.8%;
    right: 76.8%;
    top: 10.3%;
    bottom: 13.94%;
}

.nombre-busqueda{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    
    color: #000000;
}

.datos-busqueda{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    
    color: #353333;
}

.datos-busqueda svg{
    width: 18px;
    height: 18px;
}

.info-busqueda{
    position: absolute;
    width: 257px;
    height: 131.87px;
    left: 233px;
    top: 17px;
}

.info-busqueda2{
    position: absolute;
    width: 257px;
    height: 131.87px;
    left: 233px;
    top: 30px;
}

.second-Small {
    position: absolute;
    left: 77.45%;
    right: 11.98%;
    bottom: 68.48%;
}

.rectangulo-Small{
    top: 10.18%;
}

button{
    background: #8E44AD;
    border-color: #8E44AD;
    padding: 4px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    color: white;
    border-radius: 10px;
}

.infoExtra {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;

    position: absolute;
    left: 93.63%;
    right: 3.42%;
    top: 12%;
    bottom: 72.14%;
}

/*OVERFLOW*/
.resultado::-webkit-scrollbar {
    width: 15px;               
}
  
.resultado::-webkit-scrollbar-track {
    background: #EADEDE;        
}
  
.resultado::-webkit-scrollbar-thumb {
    background-color: #8E44AD;   
    border-radius: 16px;    
    border: 3px solid #EADEDE;  
}

/*PUBLICIDADES*/
.publicidades{
    width: 30%;
    height: 100%;
}

.propaganda1 {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1046px;
    top: 146px;

    background-image: url(../images/propaganda1.png);
    background-size: contain;
    background-repeat:no-repeat;
    justify-content: center;
}

.propaganda2 {
        position: absolute;
        width: 222px;
        height: 245px;
        left: 1046px;
        top: 396px;

        background-image: url("../images/propaganda2.png");
        background-size: contain;
        background-repeat: no-repeat;
        justify-content: center;    
}

/*Chat*/
.chat-Mensajes {
    position: absolute;
    width: 371px;
    height: 564px;
    left: 38px;
    top: 78px;

    background: rgba(142, 68, 173, 0.1);
    border-radius: 10px;
}

.chat{
    position: absolute;
    width: 322.17px;
    height: 453px;
    left: 26px;
    top: 21px;

    background: #FCFDFD;
    border-radius: 4px;
}

.nuevoChat{
    position: absolute;
    width: 297px;
    height: 41.93px;
    left: 38px;
    top: 499px;
    
    border-radius: 10px;
    background-color: #8E44AD;
}

.nuevoChat a{
    position: absolute;
    left: 25.65%;
    right: 25.22%;
    top: 34.38%;
    bottom: 31.25%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.contains-charla {
    position: absolute;
    width: 888px;
    height: 564px;
    left: 439px;
    top: 78px;
    
    background: rgba(142, 68, 173, 0.1);
    border-radius: 16px;
}

.cabecera-chat {
    position: absolute;
    width: 788px;
    height: 65px;
    left: 20px;
    top: 17px;
    border-block-end: 1px solid  #e7e5e5;
}

.cabecera-chat img {
    position: absolute;
    width: 56px;
    height: 56px;
    border: 50%;
    border-radius: 50%;
    left: 24px;
    top: -2px;
}

.charla {
    position: absolute;
    width: 830px;
    height:450px;
    left: 30px;
    top: 20px;

    background: #FFFFFF;
    border-radius: 16px;
}

.charla-texto {
    position: absolute;
    width: 816px;
    height: 359px;
    left: -9px;
    top: 86px;
    overflow-y: scroll;
}

.contenido-texto {
    position: absolute;
    width: 800px;
    height: 450px;
    left: 0px;
    top: 0px; 
}

/*OVERFLOW*/
.charla-texto::-webkit-scrollbar {
    width: 8px;               
  }
  
.charla-texto::-webkit-scrollbar-track {
    background: #EADEDE;        
}
  
.charla-texto::-webkit-scrollbar-thumb {
    background-color: #8E44AD;   
    border-radius: 20px;      
}

.liner {
    position: absolute;
    left: 4.9%;
    right: 4.46%;
    top: 85.61%;

    border: 2px solid #8E44AD;
}

.box-charla {
    position: absolute;
    left: 4%;
    right: 2.83%;
    top: 88.59%;
    bottom: 3.74%;

    background: #FFFFFF;
    border-radius: 16px;
}

.texto-charla {
    position: absolute;
    left: 5%;
    top: 9.71%;
    bottom: 8.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: dimgray;
    border: white;
    width: 636px;
}

.text-chat {
    position: absolute;
    width: 44.78px;
    height: 11.26px;
    left: 28px;
    top: 19.58px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #181818;
}

.line-chat{
    position: absolute;
    width: 293px;
    height: 0px;
    left: 16px;
    top: 45px;

    border: 1px solid #dfdcdc;
}

.persona {
    position: absolute;
    width: 309px;
    height: 72.52px;
    left: 7px;
    top: 50px;
}

.p1foto {
    position: absolute;
    width: 55.44px;
    height: 56.29px;
    left: 20px;
    top: 9px;
    border-radius: 26px;
}

.name-chat {
    position: absolute;
    width: 195px;
    height: 14.07px;
    left: 105px;
    top: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #181818;
}

.name-chat1 {
    position: absolute;
    width: 195px;
    height: 14.07px;
    left: 105px;
    top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #181818;
}

.online-chat {
    position: absolute;
    width: 133.26px;
    height: 16.24px;
    left: 105px;
    top: 43px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 150%;

    color: rgba(24, 24, 24, 0.5);
}

.online-chat1 {
    position: absolute;
    width: 133.26px;
    height: 16.24px;
    left: 105px;
    top: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;

    color: rgba(24, 24, 24, 0.5);
}

.persona2 {
    position: absolute;
    width: 309px;
    height: 72.52px;
    left: 7px;
    border-block-start: 1px solid #dfdcdc; 
    border-right: 8px solid #8E44AD;
    top: 128px;
}

.persona2a {
    position: absolute;
    width: 309px;
    height: 72.52px;
    left: 7px;
    border-block-start: 1px solid #dfdcdc; 
    top: 128px;
}

.persona3 {
    position: absolute;
    width: 309px;
    height: 72.52px;
    left: 7px;
    border-block-start: 1px solid #dfdcdc; 
    top: 208px;
}

.persona4 {
    position: absolute;
    width: 309px;
    height: 72.52px;
    left: 7px;
    border-block-start: 1px solid #dfdcdc; 
    top: 289px;
}

.persona5 {
    position: absolute;
    width: 309px;
    height: 72.52px;
    left: 7px;
    border-block-start: 1px solid #dfdcdc; 
    top: 369px;
}

.persona5a {
    position: absolute;
    width: 309px;
    height: 72.52px;
    left: 7px;
    border-block-start: 1px solid #dfdcdc; 
    border-right: 8px solid #8E44AD;
    top: 369px;
}

.persona:hover, .persona2a:hover, .persona3:hover, .persona4:hover, .persona5:hover{
    background: #80808073;
    opacity:0.9;
}

.enviar-chat{
    position: absolute;
    left: 763px;
    right: 35px;
    top: 7px;
    background: violet;
    bottom: 7px;

    border-radius: 4px;
    background: #8E44AD;
   
}

.enviar-chat svg{
    position: absolute;
    left: 23.65%;
    top: 26.22%;
}

.llamada-chat {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 700px;
    top: 11.57px;
}

.video-chat {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 740px;
    top: 11.57px;
}

.dialogo1{
    position: absolute;
    left: 500px;
    right: 13px;
    top: 11px;
    bottom: 406px;
    background: #8E44AD;
    border-radius: 15px;
}

.dialogo p{
    color: white;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}

.dialogoa p{
    color: black;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}

.dialogo1 p{
    width: 250.26px;
    height: 16.24px;
    left: 28px;
    top: 8px;
}

.dialogo2{
    position: absolute;
    left: 389px;
    right: 13px;
    top: 52px;
    bottom: 365px;
    background: #8E44AD;
    border-radius: 15px;
}

.dialogo2 p{
    width: 364.26px;
    height: 16.24px;
    left: 18px;
    top: 8px;
}

.dialogo3{
    position: absolute;
    left: 559px;
    right: 13px;
    top: 92px;
    bottom: 327px;
    background: #8E44AD;
    border-radius: 15px;
}

.dialogo3 p{
    width: 194.26px;
    height: 16.24px;
    left: 18px;
    top: 8px;
}

.dialogo4{
    position: absolute;
    left: 33px;
    right: 383px;
    top: 152px;
    bottom: 265px;
    background: rgba(142, 68, 173, 0.1);
    border-radius: 15px;
}

.dialogo4 p{
    width: 355px;
    height: 16.24px;
    left: 18px;
    top: 8px;
}

@media (max-width: 600px) {
    .login-logo img {
        width: 60vw;
    }

    .login {
        flex-direction: column;
    }

    .form-login {
        width: 80%;
        margin: 5vh;
    }

    .fb-sesion {
        width: 80%;
        margin: 5vh;
        margin-top: auto;
        margin-bottom: auto;
    }

    #register-form-container{
        flex-direction: column;
    }

    .register-form-left{
        width: 80% !important;
        margin-left: 5vh !important;
        margin-right: 5vh !important;
        margin-top: 5vh !important;
        margin-bottom: 0vh !important;
    }

    .register-form-rigth{
        width: 80% !important;
        margin-left: 5vh !important;
        margin-right: 5vh !important;
        margin-top: 0vh !important;
    }
}
